@charset "utf-8";

h2 {
    width: 100%;
    height: 40px;
    background-color: #e0ebaf;
}

#red {
  color: red;
}
.blue {
  color: blue;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}